@{
    ViewBag.Title = "CheckoutThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hoàn tất đơn hàng</h2>
        
<div style="margin-top: 10px">
        
    <div class="paragraph">
    <center>
    <div class="box">
    <h3 style="margin:auto; color:blue">Thông báo</h3>
    <br />
    <p style="color:Black; font-size:12px;">Bạn đã hoàn tất đơn hàng vui lòng kiểm tra : Email hay thông tin đơn hàng để xem chi tiết đơn hàng đã đặt</p>
    <p> @Html.ActionLink("Quay về trang sản phẩm","Index","Product")</p>
    </div>
    </center>
    <p style="padding-bottom: 100px;"></p>
 </div>
</div>
