<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/Book_Service" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="WcfService_Book.Book_Service">
                <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration=""
                    name="ep1" contract="WcfService_Book.IBook_Service" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="ep2" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000/Book_Service" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>