@{
    ViewBag.Title = "_ADS";
}

 <h1>Hổ trợ trực tuyến</h1>
                <ul>	
                    <li>
                            <div style="float:left; width:300px; margin-top:10px">
                                <div style="float:left">
                                    <a href="ymsgr:addfriend?lo_lem_thoi18">
                                    <img src="http://opi.yahoo.com/online?u=lo_lem_thoi18&m=g&t=13" width="55px" border="0" height="55px">
                                    </a>
                                </div>
                                <div style="padding-top:3px;  font:bold 13px arial" >&nbsp;&nbsp;Hổ trợ khách hàng<br /> &nbsp;&nbsp;Thanh Thảo <br/>&nbsp;&nbsp;(01283555583)</div>                                
                            </div>

                        </li>
                       <li  style="list-style:none">
                            <div style="float:left; width:300px; margin-top:10px">
                                <div style="float:left">
                                    <a href="ymsgr:addfriend?hovocongthanh0706">
                                    <img src="http://opi.yahoo.com/online?u=hovocongthanh0706&m=g&t=11" width="55px" border="0" height="55px">
                                    </a>
                                </div>
                                <div style="padding-top:3px;  font:bold 13px arial" >&nbsp;&nbsp;Hổ trợ khách hàng<br /> &nbsp;&nbsp;Công Thành <br/>&nbsp;&nbsp;(0973512575)</div>                                
                            </div>

                        </li>
                        <li  style="list-style:none">
                            <div style="float:left; width:300px; margin-top:10px">
                                <div style="float:left">
                                    <a href="ymsgr:addfriend?onlylove200829">
                                    <img src="http://opi.yahoo.com/online?u=onlylove200829&m=g&t=11" width="55px" border="0" height="55px">
                                    </a>
                                </div>
                            <div style="padding-top:3px;  font:bold 13px arial" >&nbsp;&nbsp;Hổ trợ cộng tác<br /> &nbsp;&nbsp;Hữu Tài <br/>&nbsp;&nbsp;(0938613461)</div>                                
                                </div>

                        </li>
                       <li  style="list-style:none">
                            <div style="float:left; width:300px; margin-top:10px">
                                <div style="float:left">
                                    <a href="ymsgr:addfriend?vinh_thien0301">
                                    <img src="http://opi.yahoo.com/online?u=vinh_thien0301&m=g&t=11" width="55px" border="0" height="55px">
                                    </a>
                                </div>
                                <div style="padding-top:3px;  font:bold 13px arial" >&nbsp;&nbsp;Hổ trợ cộng tác<br /> &nbsp;&nbsp;Vĩnh thiện <br/>&nbsp;&nbsp;(0988549089)</div>                                
                            </div>

                        </li>
                  
                </ul>