@{
    ViewBag.Title = "_ADS";
}

 <h1>Hổ trợ trực tuyến</h1>
                <ul>	

                       <li  style="list-style:none">
                            <div style="float:left; width:300px; margin-top:10px">
                                <div style="float:left">
                                    <a href="ymsgr:addfriend?hovocongthanh0706">
                                    <img src="http://opi.yahoo.com/online?u=hovocongthanh0706&m=g&t=11" width="55px" border="0" height="55px">
                                    </a>
                                </div>
                                <div style="padding-top:3px;  font:bold 13px arial" >&nbsp;&nbsp;Hổ trợ khách hàng<br /> &nbsp;&nbsp;Nguyễn Thiện Khánh <br/>&nbsp;&nbsp;(0909096610)</div>                                
                            </div>

                        </li>
                        <li  style="list-style:none">
                            <div style="float:left; width:300px; margin-top:10px">
                                <div style="float:left">
                                    <a href="ymsgr:addfriend?onlylove200829">
                                    <img src="http://opi.yahoo.com/online?u=onlylove200829&m=g&t=11" width="55px" border="0" height="55px">
                                    </a>
                                </div>
                            <div style="padding-top:3px;  font:bold 13px arial" >&nbsp;&nbsp;Hổ trợ cộng tác<br /> &nbsp;&nbsp;Trần Tuấn Kiệt <br/>&nbsp;&nbsp;(01633819347)</div>                                
                                </div>

                        </li>
                       <li  style="list-style:none">
                            <div style="float:left; width:300px; margin-top:10px">
                                <div style="float:left">
                                    <a href="ymsgr:addfriend?vinh_thien0301">
                                    <img src="http://opi.yahoo.com/online?u=vinh_thien0301&m=g&t=11" width="55px" border="0" height="55px">
                                    </a>
                                </div>
                                <div style="padding-top:3px;  font:bold 13px arial" >&nbsp;&nbsp;Hổ trợ cộng tác<br /> &nbsp;&nbsp;Trương Hoàng Ẩn <br/>&nbsp;&nbsp;(0988549089)</div>                                
                            </div>

                        </li>
                  
                </ul>